In [1]:
print("Hola, Mundo")

Hola, Mundo

In [2]:
a = 5
b = 3
c = a + b
print(c)

8

In [3]:
c

8

In [4]:
c?

In [5]:
import pandas as pd
pd.DataFrame()

Empty DataFrame
Columns: []
Index: []

# Markdown

## Tittle 2

### Tittle 3

#### Tittle 4

## Como colocar CÃ³digo en Markdown

Utilice `print("hello")`

_Negrita_
*cursiva*

`print()`

### Lista con Markdown
#### Ingredientes
- Harina
- Huevo
- Sal
- Agua
* Mantequilla
    * Marca 1
    * Marca 2

- ir a [google](https://www.google.com)